td.disabled.day {
    color: #d1d6da;
}

.select2-container--default .select2-selection--single {
    height: 36px!important;
    line-height: 36px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px!important;
}